body {
    background-color: rgb(10, 10, 10);
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 50vw;
    height: 50vw;
    margin-left: 25%;
    text-align: center;
}

.button {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: white;
    background: #00a1ff;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #00a1ff;
    cursor: pointer;
    box-shadow: 0px 10px 13px -6px rgba(145, 158, 171, 0.2),
    0px 20px 31px 3px rgba(145, 158, 171, 0.14),
    0px 8px 38px 7px rgba(145, 158, 171, 0.12);
    font-weight: bold;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}