version: 1.0.0

port: $port
externalUrl: localhost
mode: $mode

timer:
  gpuSynchronize: 5s
  gpuLeaseSynchronize: 5s
  vmStatusUpdate: 20s
  vmSnapshotUpdate: 30s
  deploymentStatusUpdate: 5s 
  deploymentPingUpdate: 15s
  snapshot: 1h
  deploymentRepair: 30m 
  vmRepair: 30m
  smRepair: 30m
  metricsUpdate: 1m 
  jobFetch: 1s
  failedJobFetch: 1s 
  deploymentDeletionConfirm: 5s 
  vmDeletionConfirm: 5s
  smDeletionConfirm: 5s
  customDomainConfirm: 30m

zones:
- name: local
  description: Local development zone
  k8s:
    namespaces:
      deployment: deploy
      vm: deploy-vms
      system: deploy-system
    configSource:
      type: kubeconfig
      filepath: ./local.kubeconfig
    ingressNamespace: ingress-nginx
    loadBalancerIp: 127.0.0.1
  capabilities:
    - deployment
    - vm
  domains:
    parentVm: vm.local
    parentSm: storage.local
    parentVmApp: vm-app.local
  storage:
    nfsServer: localhost
    paths:
      parentVm: /mnt/cloud/apps/sys/deploy/vms
  portRange:
    start: 29000
    end: 29899

registry:
  url: $registry_url
  placeholderImage: $placeholder_image
  vmHttpProxyImage: $placeholder_image

gpu:
  privilegedGpus:
  excludedHosts:
  excludedGpus:

deployment:
  port: 8080
  prefix: deploy-
  wildcardCertSecretNamespace: ingress-nginx
  wildcardCertSecretName: deploy-wildcard-secret
  customDomainTxtRecordSubdomain: _kthcloud
  ingressClass: traefik
  repairInterval: 60
  pingInterval: 30
  resources:
    autoScale:
      cpuThreshold: 50
      memoryThreshold: 50
    limits:
      cpu: 100m
      memory: 500Mi
      storage: 1Gi
    requests:
      cpu: 50m
      memory: 100Mi

vm:
  adminSshPublicKey:
  repairInterval:
  zones:

roles:
  - name: default
    description: Default
    iamGroup: default
    permissions:
      chooseZone: false
      chooseGpu: false
      useCustomDomains: false
      useGpus: false
      usePrivilegedGpus: false
    quotas:
      deployments: 5
      cpuCores: 2
      ram: 4
      diskSize: 20
      snapshots: 1
      gpuLeaseDuration:
  - name: bronze
    description: Bronze
    iamGroup: bronze
    permissions:
      chooseZone: false
      chooseGpu: false
      useCustomDomains: true
      useGpus: true
      usePrivilegedGpus: false
    quotas:
      deployments: 5
      cpuCores: 4
      ram: 16
      diskSize: 50
      snapshots: 5
      gpuLeaseDuration: 5
  - name: platinum
    description: Platinum
    iamGroup: platinum
    permissions:
      chooseZone: true
      chooseGpu: true
      useCustomDomains: true
      useGpus: true
      usePrivilegedGpus: true
    quotas:
      deployments: 15
      cpuCores: 40
      ram: 160
      diskSize: 2000
      snapshots: 10
      gpuLeaseDuration: 168

keycloak:
  url: $keycloak_url
  realm: $keycloak_realm
  adminGroup: $keycloak_admin_group
  storageClient:
    clientId: $keycloak_storage_client
    clientSecret: $keycloak_storage_secret

mongodb:
  url: $mongodb_url
  name: $mongodb_name

redis:
  url: $redis_url
  password: $redis_password

cs:
  url: 
  apiKey: 
  secret: 

rancher:
  url: 
  apiKey: 
  secret: 

sys-api:
  url: 
  user: 
  password: 
  clientId: 
  useMock: true

harbor:
  url: $harbor_url
  user: $harbor_user
  password: $harbor_password
  webhookSecret: $harbor_webhook_secret
