externalUrl: $external_url
port: $port

timer:
  deploymentStatusUpdate: 30s
  deploymentPingUpdate: 15s
  deploymentDeletionConfirm: 5s
  deploymentRepair: 30m

  smDeletionConfirm: 5s
  smRepair: 30m

  vmStatusUpdate: 30s
  vmDeletionConfirm: 5s
  vmRepair: 30m

  gpuSynchronize: 5m
  gpuLeaseSynchronize: 15s

  metricsUpdate: 1m
  customDomainConfirm: 30m
  staleResourceCleanup: 1h

  jobFetch: 1s
  failedJobFetch: 1s

  fetchSystemStats: 5s
  fetchSystemCapacities: 5s
  fetchSystemStatus: 5s
  fetchSystemGpuInfo: 5s

discovery:
  token: token

zones:
- name: local
  enabled: true
  description: Local development zone
  k8s:
    namespaces:
      deployment: deploy
      vm: deploy-vms
      system: deploy-system
    configSource:
      type: localPath
      path: $kubeconfig_path
    ingressNamespace: kube-system
  capabilities:
    - deployment
    - vm
  domains:
    parentDeployment: $deployment_domain:$ingress_https_port
    parentSm: $sm_domain:$ingress_https_port
    parentVm: $vm_domain
    parentVmApp: $vm_app_domain:$ingress_https_port
  storage:
    nfsServer: $nfs_server
    paths:
      parentDeployment: $nfs_parent_path_app
  portRange:
    start: $port_range_start
    end: $port_range_end

registry:
  url: $registry_url
  placeholderImage: $placeholder_image
  vmHttpProxyImage: $placeholder_image

gpu:
  privilegedGpus:
  excludedHosts:
  excludedGpus:
  addMock: true

deployment:
  defaultZone: local
  port: 8080
  lifetime: 2160h # 90d
  prefix: deploy-
  fallback:
    disabled:
        name: deploy-fallback

  wildcardCertSecretNamespace: cert-manager
  wildcardCertSecretName: go-deploy-wildcard-secret
  customDomainTxtRecordSubdomain: _kthcloud

  ingressClass: nginx

  resources:
    autoScale:
      cpuThreshold: 50
      memoryThreshold: 50
    limits:
      cpu: 0.2
      memory: 0.5
      storage: 1
    requests:
      cpu: 0.1
      memory: 0.1

vm:
  defaultZone: local
  lifetime: 2160h # 90d
  adminSshPublicKey: $admin_ssh_public_key
  image: $vm_image

roles:
  - name: default
    description: Default
    iamGroup: default
    permissions:
      chooseZone: false
      chooseGpu: false
      useCustomDomains: false
      useGpus: false
      usePrivilegedGpus: false
    quotas:
      cpuCores: 2
      ram: 4
      diskSize: 20
      gpuLeaseDuration:
  - name: base
    description: base
    iamGroup: base
    permissions:
      chooseZone: false
      chooseGpu: false
      useCustomDomains: true
      useGpus: true
      usePrivilegedGpus: false
    quotas:
      cpuCores: 4
      ram: 16
      diskSize: 50
      gpuLeaseDuration: 5
  - name: power
    description: power
    iamGroup: power
    permissions:
      chooseZone: true
      chooseGpu: true
      useCustomDomains: true
      useGpus: true
      usePrivilegedGpus: true
    quotas:
      cpuCores: 40
      ram: 160
      diskSize: 2000
      snapshots: 10
      gpuLeaseDuration: 168

keycloak:
  url: $keycloak_url
  realm: $keycloak_realm
  adminGroup: $keycloak_admin_group
  storageClient:
    clientId: $keycloak_storage_client_id
    clientSecret: $keycloak_storage_client_secret

mongodb:
  url: $mongodb_url
  name: $mongodb_name

redis:
  url: $redis_url
  password: $redis_password

harbor:
  url: $harbor_url
  user: $harbor_user
  password: $harbor_password
  webhookSecret: $harbor_webhook_secret
